<app-header></app-header>

<ion-content class="ion-padding">
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>❌ Pago fallido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Tu transacción fue cancelada o no se pudo procesar.</p>
      <p>Si el problema persiste, intenta más tarde.</p>
      <ion-button expand="block" color="medium" (click)="volverInicio()">
        Volver al inicio
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-footer></app-footer>
