<app-header></app-header>

<ion-content class="ion-padding">

  <!-- Listado de productos -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen del Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let p of productos">
          <ion-label>
            <h2>{{ p.nombre }}</h2>
            <p>{{ p.marca }} - ${{ p.precio | number:'1.0-0' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-item lines="full">
        <ion-label><strong>Total:</strong></ion-label>
        <ion-note slot="end">${{ total | number:'1.0-0' }}</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Datos de contacto -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos del Cliente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre completo</ion-label>
        <ion-input [(ngModel)]="nombre" [readonly]="sesionActiva"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" [(ngModel)]="correo" [readonly]="sesionActiva"></ion-input>
      </ion-item>

      <ion-item>
  <ion-label position="floating">Dirección</ion-label>
  <ion-input [(ngModel)]="direccion"></ion-input>
</ion-item>


      <ion-button expand="block" color="primary" (click)="confirmarPago()">
        Proceder al pago
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<app-footer></app-footer>
