<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      Ferremás
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateTo('inicio')">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-button>

      <ion-button (click)="navigateTo('productos')">
        <ion-icon name="pricetags-outline" slot="start"></ion-icon>
        <ion-label>Productos</ion-label>
      </ion-button>

      <ion-button (click)="navigateTo('carrito')">
        <ion-icon name="cart-outline" slot="start"></ion-icon>
        <ion-label>Carrito</ion-label>
      </ion-button>

      <ion-button (click)="navigateTo('contacto')">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-button>

      <ion-button (click)="navigateTo('registro')" *ngIf="!auth.isAuthenticated()">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        <ion-label>Registrarse</ion-label>
      </ion-button>

      <!-- Botón exclusivo para administrador -->
      <ion-button *ngIf="auth.isAdmin()" (click)="navigateTo('admin')">
        <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
        <ion-label>Admin</ion-label>
      </ion-button>

      <!-- Login/Logout -->
      <ion-button *ngIf="auth.isAuthenticated()" (click)="cerrarSesion()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-button>

      <ion-button *ngIf="!auth.isAuthenticated()" (click)="navigateTo('login')">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        <ion-label>Ingresar</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
